*{box-sizing: border-box;}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} 

*{
    font-family: 'Pretendard-Regular';
}
/* 제일 큰 div */
.P-All{
    display: flex;
    width: 1200px;
    margin: auto;
    height: 815px;
    align-items: flex-start;
}


/* 메인 */
.P-main{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eee;
    padding-top: 50px;
}

.P-Member-title{
    font-size: 24px;
    font-weight: bold;
    height: 100px;
}

#P-memberList1{
    width: 100%;
}

/* 정보조회 */
.P-title1{
    width: 100%;
    display: flex;
    justify-content: right;
    padding-bottom: 30px;
}

.P-adm-search{
    margin-right: 10px;
}

.P-adm-btn{
    margin-right: 10px;
    background-color: rgb(173,158,135);
    color: white;
    border-radius: 5px;
    border: 0;
    width: 50px;
    
}

.P-adm-btn:hover{
    background-color: #4F3A28;
}

/* 탈퇴버튼 */
#P-adm-btn{
    margin-right: 10px;
    background-color: rgb(173,158,135);
    color: white;
    border-radius: 5px;
    border: 0;
    width: 50px;
    margin: auto;
}

#P-adm-btn:hover{
    background-color: #4F3A28;
}

.P-main-menu{
    width: 95%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 50px;

}

/* 메인테이블 */
.P-report-tr{
    height: 70px;
    text-align: center;
    border: 1px solid #eee;
}

.P-report-tr > th{
    height: 70px;
    text-align: center;
    border: 1px solid #eee;
}

/* 테이블내부크기 */
.P-report-tr > td{
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #eee;

}


/* 페이지네이션 */
.P-pagination{
    list-style: none;
    display: flex;
    justify-content: center;
}

.P-pagination > li{
    width: 20px;
    margin: 0px 5px;
    text-align: center;
}

.P-pagination a{
    width: 100%;
    height: 100%;
    display: block;
    color: black;
    text-decoration: none;
}

/* 현재 페이지 번호 */
.P-pagination .P-current{
    background-color: rgb(173,158,135);
    color: white;
    font-weight: bold;
    border-radius: 50%;
}

/* 페이지네이션 호버효과 */
.P-pagination > li:hover{
    text-decoration: underline;
}