*{box-sizing: border-box;}

 @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} 

*{
    font-family: 'Pretendard-Regular';
}

div{border: 1px solid black;}

header{
    width: 100%;
    background-color: rgba(178, 158, 135, 0.9);
    height: 120px;
    display: flex;
}

.K-header{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.K-header>div:nth-child(1){
    padding-left: 20px;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.K-header>div:nth-child(3){
    font-size: 20px;
    float: right;

}

.K-header a{
    text-decoration: none;
    color: white;
    margin-bottom: 0;
}