* {
    box-sizing: border-box;
    /* border:  1px solid black;     */
    
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
}
.H-main {
    display: flex;
    margin: auto;
    width: 1200px;
    padding: 20px;
}

.H-maindisplay{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-align: center;
    border:1px solid #eee;
    width: 100%;
    background-color: rgba(178, 158, 135, 0.9);

}

.H-list {
    width: 820px;
}

.H-write {
    font-size: 24px;
    margin-bottom: 10px;
    background-color: rgba(178, 158, 135, 0.9);

}


/* 이벤트 전체 리스트 */
.H-div {
    width: 75%;
    display: flex;
}




.H-href {
    display: block;
    margin: 10px;
    width: 50%;
    text-decoration:none;
    margin: 20px;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height : 250px;
}

.H-span{
    position: absolute;
    right: 50px;
    left: 50px;
    font-size: 50px;
    color: white;
    background-color: rgba(178, 158, 135, 0.9);
    text-align: center;
    border:  1px solid black;
    height: 200px;
    width: 250px;
}


/* ul, li, dl, dd {list-style:none; margin:0; padding: 0;}
a {text-decoration:none;}
.H-snb { width: 25%; } */

/* .H-side-bar{ 
    
    width: 80%;
    background:rgb(207, 191, 167);
    height:auto; 
    box-sizing:border-box;
    color:#fff; 
    box-shadow:1px 0px 20px rgba(0,0,0,0.2);
    margin-left: 86px;
} */

/* .H-side-bar li {border-bottom:1px solid rgba(255,255,255,0.2);}
.H-side-bar li.active, .side-bar li:hover {background:rgba(0,0,0,0.4);}
.H-side-bar li a {color:#fff;line-height:55px; font-size:18px; display:block; padding:0 20px; box-sizing:border-box; position:relative;}
.H-side-bar li a .s_icon {padding-right:7px; font-size:15px;}
.H-side-bar li a .arrow {position:absolute; top:20px; right:20px; line-height:0px; font-size:12px;}
.H-side-bar dd a:hover {background:rgba(255,255,255,0.1);}
.H-side-bar dd.active a{color:#ffff6f;} */



*{box-sizing: border-box;}