*{box-sizing: border-box;}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} 

*{
    font-family: 'Pretendard-Regular';
}

div{border: 1px solid black;}

.K-first{width: 100%;}
.K-first>div{
    width: 1200px;
    margin: auto;
    display: flex;
}

/* 사이드바 */
.K-side{
    width: 25%;
    height: 200px;
}

/* 찐 내용 */
.K-all{width: 75%;}

.K-all>div{ /* 내용 넓이 지정 */
    width: 850px;
    margin: auto;
}

.K-all>div>div:nth-of-type(1){ /* 이벤트 작성 글씨 */
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

#K-form{
    margin-top: 20px;
}

#K-form>div:nth-child(1){ /* 제목입력 글씨 */
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

input[name="K-title"]{ /* 제목 input태그 */
    width: 840px;
    height: 35px;
    background-color: white;
    font-size: 15px;
}

#K-form>div:nth-child(3){ /* 내용입력 + 파일 추가 버튼 div */
    display: flex;
}

#K-form>div:nth-child(3)>span{ /* 내용입력 글씨 */
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

#K-form>div:nth-child(3)>div{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* input[name="K-photo"]{
    
} */

#K-image-select{
    display: flex;
}

.K-photo-img{
    width: 80px;
}