*{
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
    /* border: 1px solid black; */
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} 

/* 전체 div */

.L-main{
    width: 1200px;
    margin: auto;
    padding: 50px 0;
}

.L-title1{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 80px;
}


/* 상세 안에 div */
.L-detail{
    display: flex;
    margin-bottom: 15px;
}

.L-detail > div:nth-of-type(1){
    width: 100px;
    font-weight: bold;
    text-align: center;
}

/* 제목 */
.L-title > div > input{
    width: 1050px;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
}


/* 작성자, 작성일 */
input[name="L-input-person"]{
    height: 30px;
    width: 300px;
    margin-right: 30px;
}
input[name="L-date"]{
    height: 30px;
    width: 300px;
    margin-left: 30px;
}

.L-person > div:nth-of-type(3){
    font-weight: bold;
}




/* 사진 */
.L-picture > div:nth-of-type(2){
    width: 1050px;
    height: 240px;
    border: 1px solid black;
}


/* 내용 */

.L-text > div:nth-of-type(2){
    width: 1050px;
    justify-content: center;
}

textarea[name="L-textarea-text"]{
    width: 100%;
    height: 350px;
    resize: none;
}

/* 버튼 */
.L-btn{
    display: flex;
    justify-content: right;
}

.L-btn > div{
    width: 100px;
    height: 30px;
    margin: 0 10px;
}

.L-btn> div> button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(173,158,135);
    color: white;
    border: 0;
}

.L-btn> div> button:hover{
    background-color: #4F3A28;
}

.L-btn > div:last-child{
    margin-right: 100px;
}












