.board-list a{
    color: black;
}


main{
    width: 1200px;
    margin: auto;
    display: flex;
    padding: 20px 0;
}

.board-name-list{
    text-align: center;
    font-weight: bold;
    font-size : 30px;
}

.board-list{
    width: 75%;
    margin: auto;
}

.board-name{
    font-size: 2.5em;
    margin-left: 30px;
}

.list-wrapper{
    min-height: 670px;
}

.list-table{
    width: 100%;
    padding: 20px;
    border-collapse: collapse;
}

.list-table > thead{
    color: black;
}

.list-table tr{
    height: 60px;
}

.list-table > tbody >tr{
    border-bottom: 1px solid gray;
}

.list-table tr>*{
    text-align: center;
}

.list-table tr > *:nth-of-type(1){width: 10%;}
.list-table tr > td:nth-of-type(2){
    width: 50%;
    text-align: left;
    padding-left: 50px;
}
.list-table tr > *:nth-of-type(3){width: 15%;}
.list-table tr > *:nth-of-type(4){width: 15%;}
.list-table tr > *:nth-of-type(5){width: 10%;}

.btn-area{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* 버튼 */
#insertBtn{
    margin-right: 50px;
    width: 80px;
    height: 40px;

    background-color: white;
    border-radius: 5px;

    font-weight: bold;
    cursor: pointer;
}

.pagination{
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;
}

.pagination>li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    width: 100%;
    height: 100%;
    display: block;
}

.pagination .current{
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 50%;
}

#boardSearch{
    width: 500px;
    height: 30px;
    
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}

#boardSearch *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#boardSearch select{
    width: 100px;
}

#boardSearch input{
    margin: 0 10px;
    flex-grow: 1;
    padding-left: 10px;
}

#boardSearch button{
    width: 100px;
    background-color: wheat;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 0;
}


*{box-sizing: border-box;}


*{box-sizing: border-box;}