@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');


.H-img {
  width: 100px;
}


.H-royal {
  box-sizing: border-box;
  width : 1200px;
  margin : auto;
}

.H-royal h2 {
  margin-bottom: 1rem;
}

.H-royal .H-rotal_inner {
  display: flex;
  flex-wrap: wrap;
}

.H-royal .H-royal_inner section> :first-child img {
  width: 100%;
  height: 400px;
}

.H-royal .H-royal_inner section> :last-child div {
  width: 100%;
  height: 200px;
  padding: 1.7rem;
  text-align: center;
  line-height: 1.5rem;
}

.H-royal .H-royal_inner section> :last-child button {
  width: 100%;
  background: #AD9E87;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
  padding: 1rem 0;
}

  .H-royal .H-royal_inner {
    width: 1000px;
    margin: 0 auto;
  }

  .H-royal h2 {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .H-royal h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .H-royal .H-royal_inner> :first-child {
    display: flex;
    margin-bottom: 2rem;
  }

  .H-royal .H-royal_inner> :last-child {
    display: flex;
    flex-direction: row-reverse;
  }

  .H-royal .H-royal_inner section> :first-child img,
  .H-royal .H-royal_inner section> :last-child {
    width: 600px;
    height: 400px;
  }

  .H-royal .H-royal_inner section> :last-child div {
    padding: 7.5rem 0;
  }

  .H-royal .H-royal_inner section> :last-child button {
    width: 180px;
    padding: 0.7rem 0;
    font-size: 15px;
    background: #fff;
    color: #AD9E87;
    transition: 0.3s;
    margin-top: 1rem;
  }

  .H-royal .H-royal_inner section> :last-child button:hover {
    background: #AD9E87;
    color: #fff;
  }

  
/* 노말라이즈 */
body, ul, li, h1 {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}

/* 라이브러리 */
.con {
  margin:0 auto;
}

.img-box > img {
  width:100%;
}

.row::after {
  display:block;
  clear:both;
}


.margin-0-auto {
  margin:0 auto;
}

.block {
  display:block;
}

.inline-block {
  display:inline-block;
}

.text-align-center {
  text-align:center;
}

.line-height-0-ch-only {
  line-height:0;
}

.line-height-0-ch-only > * {
  line-height:normal;
}

.relative {
  position:relative;
}

.absolute-left {
  position:absolute;
  left:0;
}

.absolute-right {
  position:absolute;
  right:0;
}

.absolute-middle {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.width-100p {
  width:100%;
}

.table {
  display:table;
}


.vertical-align-top {
  vertical-align:top;
}

.vertical-align-middle {
  vertical-align:middle;
}

.vertical-align-bottom {
  vertical-align:bottom;
}

/* 커스텀 */

.con {
  width:1152px;
}

.con-min-width {
   width : 1200px;
   margin : auto ;
}

/* 반응형 레이아웃 */
/*
.con {
  max-width:1150px;
}

.con-min-width {
  min-width:320px;
}

html, body {
  overflow-x:hidden;
}
*/


.gray {
  background:#F9F9F9;
  padding-bottom:50px;
  padding-top:50px;
}
.box-3-title > h1 {
 font-size:30px;
 font-weight:700;
 color:#9C836A;
}
.box-3-title > p {
 font-size:16px;
 font-weight:500;
 color:#666666;
  padding-bottom:70px;
}
.box-2 > .menu-box-1  {
  margin-top:20px;
  text-align:center;
}
.box-2 > .menu-box-1 > ul > li {
  width: 380px;
  margin : auto;
}

ul li:hover .img:not(.noScale) > img {
  transform: scale(1.06);
}
ul li .img:not(.noScale) > img {
  transition: 0.45s;
}
.box-2 > .menu-box-1 > ul > li > a > .txt {
  padding:20px 0px 30px;
  height:100px;
}
.box-2 > .menu-box-1 > ul > li > a > .txt > .vvv {
  font-size:14px;
  color:#333333;
  font-weight:450;
}
.box-2 > .menu-box-1 > ul > li > a > .txt > .sub {
  overflow: hidden;
  display: block;
  margin: 12px 0 16px;
  color: #666;
  word-break: keep-all;
  line-height: 20px;
  font-weight:300;
}

