@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');


.H-img {
  width: 100px;
}


.H-royal {
  padding: 2rem 10%;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid silver;
  margin-bottom: 50px;
}

.H-royal h2 {
  margin-bottom: 1rem;
}

.H-royal .H-rotal_inner {
  display: flex;
  flex-wrap: wrap;
}

.H-royal .H-royal_inner section> :first-child img {
  width: 100%;
  height: 400px;
}

.H-royal .H-royal_inner section> :last-child div {
  width: 100%;
  height: 200px;
  padding: 1.7rem;
  text-align: center;
  line-height: 1.5rem;
}

.H-royal .H-royal_inner section> :last-child button {
  width: 100%;
  background: #AD9E87;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
  padding: 1rem 0;
}

  .H-royal .H-royal_inner {
    width: 1000px;
    margin: 0 auto;
  }

  .H-royal h2 {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .H-royal h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .H-royal .H-royal_inner> :first-child {
    display: flex;
    margin-bottom: 2rem;
  }

  .H-royal .H-royal_inner> :last-child {
    display: flex;
    flex-direction: row-reverse;
  }

  .H-royal .H-royal_inner section> :first-child img,
  .H-royal .H-royal_inner section> :last-child {
    width: 600px;
    height: 400px;
  }

  .H-royal .H-royal_inner section> :last-child div {
    padding: 7.5rem 0;
  }

  .H-royal .H-royal_inner section> :last-child button {
    width: 180px;
    padding: 0.7rem 0;
    font-size: 15px;
    background: #fff;
    color: #AD9E87;
    transition: 0.3s;
    margin-top: 1rem;
  }

  .H-royal .H-royal_inner section> :last-child button:hover {
    background: #AD9E87;
    color: #fff;
  }
