*{box-sizing: border-box;}

div{border: 1px solid black;}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} 

*{
    font-family: 'Pretendard-Regular';
}

.K-all{
    width: 1200px;
    margin: auto;
    display: flex;
}

.K-sidebar{
    width: 25%;
    height: 200px;
}

.K-content{
    width: 75%;
}