* {
    box-sizing: border-box;
   
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
}

/* 전체 div */
.P-top {
    display: flex;
    margin: auto;
    width: 1200px;
    padding: 50px;

}

/* 오른쪽 전체 div */
.P-maindisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-align: center;
    border: 1px solid #eee;
    width: 75%;
    flex-wrap: wrap;

}

/* 오른쪽 div */
.P-main {
    width: 100%;
}

/* 타이틀 */
.P-blank1 {
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 50px;
    margin-bottom: 10px;
    background-color: rgba(178, 158, 135, 0.9);
    color: white;
}


.P-eventmain{
    display: flex;
    flex-wrap: wrap;
     overflow: auto;
     height: 1000px; 
}

/* 이벤트 전체 리스트 */
 .P-event-list{
    padding: 20px 10px 0;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

/* a태그 검정색 */
.P-event-list>a div {
    color: black;
}
.P-event-list>a  {
    width: 100%;
}


/* 이벤트 전체 항목 */
.P-event {
    color: black;
    margin: 10px;
    width: 50%; /* 반씩 나누기 위해 50% 크기로 설정하고 좌우 여백을 제거 */
    text-decoration: none;
    margin: 20px;
}


.P-event>img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height : 250px;

}


.P-event1 {
    padding: 1em 1.3em;
    background-color: #f5f5f5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* 이벤트이름 */
.P-event-name {
    width: 100%;
    margin-bottom: 4px;
    text-align: left;
    margin-left:10px;
    font-size: 20px;
    font-weight: bold;

}



