* {
    box-sizing: border-box;

    
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
}
.P-top {
    display: flex;
    margin: auto;
    width: 1200px;
    padding: 50px;
}

.P-maindisplay{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-align: center;
    border:1px solid #eee;
    width: 75%;
    flex-wrap: wrap;
   
    overflow: auto;
}

.P-main {
    width: 820px;
}

.P-blank1 {
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 50px;
    margin-bottom: 10px;
    background-color: rgba(178, 158, 135, 0.9);
    color: white;
}


.P-blank2 {
    width: 100%;
    margin-bottom: 30px;
    color: white;
}

/* 이벤트 전체 리스트 */
.P-eventmain{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 1000px;
}


.P-event-list>a div{
    color: black;
}


.P-event-list>a {
    width: 100%;
}

.P-event-list{
    padding: 20px 10px 0;
    width: 50%;
    display: flex;
    flex-wrap: wrap; /* 자식 요소들이 여러 줄에 걸쳐 나란히 배치되도록 설정 */
}
.P-event {
    display: block;
    color: black;
    margin: 10px;
    width: 100%;
    text-decoration:none;
    margin: 20px;
    position: relative;
}

.P-end{
    position: absolute;
    top: 70px;
    right: 100px;
    left: 100px;
    font-size: 50px;
    color: white;
    font-weight: bold;
}

.P-event>img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height : 250px;
    filter: brightness(30%);
}


.P-event1 {
    padding: 1em 1.3em;
    background-color: #f5f5f5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.P-event-name {
    width: 100%;
    margin-bottom: 4px;
    text-align: left;
    margin-left:10px;
    font-size: 20px;
    font-weight: bold;
}

.P-event-content {
    width: 50%;
    margin-bottom: 15px;
    text-align: left;
    margin: 10px;
    font-size: 13px;
}

.P-pg{
    display: flex;
    justify-content: center;
    padding-top: 14px;
}

