*{
    box-sizing: border-box;
    border: 1px solid black;
}


.P-maindisplay{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: auto;
}

/* 사이드바 */
.P-sidelist{
    list-style-type: none;
    padding: 0px 10px 10px 10px;
    margin: 0px 10px 10px 10px;
    white-space: nowrap;
    width: 180px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(178, 158, 135, 0.9);
    color: white;
}

.P-sidelist > li:nth-of-type(1){
    font-size: 24px;
    padding-bottom: 10px;
    
}

.P-sidelist a{
    text-decoration: none;
    color: white;
}

/* 메인화면 */
.P-main{
    white-space: nowrap;
    width: 950px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eee;
}

.P-blank1{
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 50px;
    margin-bottom: 10px;
    background-color: rgba(178, 158, 135, 0.9);
    color: white;
}

.P-blank2{
    width: 100%;
    margin-bottom: 30px;
    color: white;
}

.P-event_list{
    width: 50%;
    float:left
}


li{
    list-style:none;
}














