*{
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.L-maindisplay{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: auto;
}

/* 사이드바 */


.L-sidelist{
    list-style-type: none;
    padding: 0px 10px 10px 10px;
    margin: 0px 10px 10px 10px;
    white-space: nowrap;
    width: 180px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(178, 158, 135, 0.9);
    color: white;
}

.L-sidelist > li:nth-of-type(1){
    font-size: 24px;
    padding-bottom: 10px;
    
}

.L-sidelist a{
    text-decoration: none;
    color: white;
}




/* 호텔소개 */
.L-main{
    white-space: nowrap;
    width: 950px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eee;
}


/* 지점 소개 */
.L-hotelpoint > pre{
    text-align: center;
}

.L-hotelpoint > div:nth-of-type(1){
    font-size: 24px;
    font-weight: bold;
    background-color: antiquewhite;
}

.L-hotelpoint > div:nth-of-type(2){
    height: auto;
}

/* 지점 소개 사진 */
#L-hotel1{
    width: 800px;
    white-space: normal;
    margin: 40px 0px;
}


/* 객실 소개 */
.L-roompoint-main{
    width: 800px;
}

.L-roompoint{
    font-size: 24px;
    font-weight: bold;
    background-color: antiquewhite;
    margin-bottom: 30px;
}

.L-roompoint-1{
    display: flex;
    justify-content: space-between;
}

.L-roompoint-1 span{
    color: #aaa;
}

.L-roomimg{
    width: 250px;
}

.L-roomA{
    text-decoration: none;
    color: black;
    
}

.L-roomA1{
    text-decoration: none;
    color: black;
    width: 100px;
}

.L-roomimg1{
    width: 210px;
}

.L-roomA > pre{
    font-size: 12px;
    text-align: left;
    line-height: 24px;
}

.L-roomA1 > pre{
    font-size: 12px;
    text-align: left;
    line-height: 24px;
}

.L-roomA p{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.L-roomA1 p{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.L-roompoint-border{
    border: 1px solid #eee;
    width: 250px;
}

/* 오시는 길 */
.L-roadmain{
    width: 800px;
    display: block;
    justify-content: space-between;
}

.L-road{
    font-size: 24px;
    font-weight: bold;
    background-color: antiquewhite;
    margin-bottom: 30px;
}












