*{
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
    /* border: 1px solid black; */
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} 

.L-maindisplay{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: auto;
    padding: 50px 0;
}

/* 사이드바 */

.L-side{
    width: 25%;
}

.L-sidelist{
    list-style-type: none;
    padding: 0px 10px 10px 10px;
    margin: 0px 10px 10px 10px;
    white-space: nowrap;
    width: 70%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(207, 191, 167);
    color: #fff;
    box-shadow:1px 0px 20px rgba(0,0,0,0.2);
}


.L-sidelist > li:nth-of-type(1){
    font-size: 24px;
    padding-bottom: 10px;
    
}

.L-sidelist a{
    text-decoration: none;
    color: white;
}

.L-sidelist a:hover{
    color:black
}






/* 메인화면 */
.L-main{
    white-space: nowrap;
    width: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eee;
}

.L-main > div{
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 5px solid #101010;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(178, 158, 135, 0.9);
    color: white;
}

.L-main img{
    width: 95%;
}

.L-main p{
    width: 800px;
    white-space: normal;
    margin: 100px 0px;
}

















