
.C-postWrite-container{ /* 제일 큰 div */

    width: 100%;
    height: auto;
}

.P-container{
    position: relative;
}
/*--------------------------------헤더-----------------------------------*/
.C-header{
    width: 100%;
    height: 200px;
}
/*--------------------------------헤더-----------------------------------*/


/*--------------------------------바디-----------------------------------*/
.C-body{ /* 바디 전체 */
    width: 100%;
    height: auto;
    
}
.C-postWrite-body{ /* 게시글 작성 큰 틀 */
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 5px solid #ddd;
}
.C-postWrite-title{ /* 게시글 작성 글씨 */
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
#C-postWrite-Writer{ /* 작성자 input태그 */
    width: 170px;
}

.C-postWritedate-title{ /* 작성일 글씨 */
    padding-left: 35px;
}

#C-postWrite-date{ /* 작성일 input태그  */
    width: 210px;
}
.C-input-table{ /* 게시글 작성 table */
    margin: auto;
}

.image-container { /* 추가된 사진 컨테이너 */
    display: flex;
    margin-right: 10px;
}

.C-postWrite-img{ /* 추가 사진 크기 */
    display: flex;
    width: 150px;
}

.C-plus-img{
    width: 150px;
}


.C-input-table td{ /* 테이블 안의 요소들 */
    padding: 10px;
}


.C-newPicture{
    display: flex;
    width: 150px;
}
.C-btn-container{ /* 버튼 큰 틀 */
    display: flex;
    justify-content: center;
    margin: none;
}

.C-btn-cancel{ /* 게시글 작성 취소 버튼 */
    text-align: center;
    padding: 20px;
  
}

.C-btn-clear{ /* 게시글 작성 버튼 */
    text-align: center;
    padding: 20px;
}
#C-postWritebtn-cancel{ /* 작성 취소 버튼 */
    background-color: rgb(173,158,135);
    border: none;
    border-radius: 5px;
    height: 30px;
}

#C-postWritebtn-clear{ /* 작성 버튼 */
    background-color: rgb(173,158,135);
    border: none;
    border-radius: 5px;
    height: 30px;
}

#C-post-cancel{ /* 게시글 작성 취소 a태그 */
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#C-postWritebtn-clear{ /* 게시글 작성 버튼 */
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#C-postWritebtn-cancel:hover{
    background-color: #4F3A28;
}

#C-postWritebtn-clear:hover{
    background-color: #4F3A28;
}


*{
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
    /* border: 1px solid black; */
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} 

/* 전체 div */

.L-main{
    width: 1200px;
    margin: auto;
}

.L-title1{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 80px;
}


/* 상세 안에 div */
.L-detail{
    display: flex;
    margin-bottom: 15px;
}

.L-detail > div:nth-of-type(1){
    width: 100px;
    font-weight: bold;
    text-align: center;
}

/* 제목 */
.L-title > div > input{
    width: 1050px;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
}


/* 작성자, 작성일 */
input[name="L-input-person"]{
    height: 30px;
    width: 300px;
    margin-right: 30px;
}
input[name="L-date"]{
    height: 30px;
    width: 300px;
    margin-left: 30px;
}

.L-person > div:nth-child(3){
    width: 350px;
}

.L-person > div:nth-of-type(3){
    font-weight: bold;
}

/* 사진 */
.L-picture > div > div{
    padding-top: 20px;
}

#C-plus-picture{/* 사진 추가 버튼 */
    width: 80px;
    height: 30px;
    background-color: rgb(173,158,135);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#C-picture{
    display: flex;
}

#C-plus-picture:hover{
    background-color: #4F3A28;
    color : white;
}

.L-picture > div:nth-of-type(2){ /* 사진 들어가는 공간 */
    width: 1050px;
    height: 240px;
    border: 1px solid black;
}


/* 내용 */

.L-text > div:nth-of-type(2){
    width: 1050px;
    justify-content: center;
}

textarea[name="L-textarea-text"]{
    width: 100%;
    height: 350px;
    resize: none;
}

/*--------------------------------바디-----------------------------------*/

/*--------------------------------풋터-----------------------------------*/
.C-footer{
    width: 100%;
    height: 200px;
}
/*--------------------------------풋터-----------------------------------*/