/****** 댓글 ********/

/* 댓글 제목 */
.L-reply-title{
    font-size: 20px;
    font-weight: bold;
    border-top: 2px solid #ddd;
    padding: 25px 0 25px 30px;
    margin-top: 30px;
}

/* 댓글 */
#L-reply-list{
    padding: 0;
    list-style: none;
    
}

/* 댓글 작성자, 작성일*/
.L-reply-row{
    padding: 15px 30px;
    border-top: 1px solid #ccc;
}

.L-reply-row > span{
    font-weight: bold;
    margin-left: 10px;
}

.L-reply-date{
    font-size: 0.8em;
    color: #aaa;
}


/* 댓글 내용 */
.L-reply-content{
    width: 800px;
}

/* 댓글 버튼 */
.L-reply-btn{
    display: flex;
    justify-content: flex-end;
}


.L-reply-btn > button{
    width: 50px;
    height: 30px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    background-color: rgb(173,158,135);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

/* 버튼 hover */
.L-reply-btn > button:hover{
    background-color: #4F3A28;
}



/* 댓글 입력 */

.L-reply-input{
    display: flex;
    justify-content: center;
    min-height: 85px;
    margin: 30px 0;
}

#L-reply-content2{
    resize: none;
    margin-right: 10px;
    flex-basis: 75%;
}


#L-reply-add{
    flex-basis: 8%;
    font-weight: bold;
    background-color: rgb(173,158,135);
    color: white;
    border: 0;
    cursor: pointer;
}

#L-reply-add:hover{
    background-color: #4F3A28;
}