*{
    box-sizing: border-box;
    /* border: 1px solid black; */
}

/* 메인화면 전체 */

.L-report-main{
    width: 1200px;
    display: flex;
    margin: auto;
    height: 815px;
    align-items: flex-start;
}

/* 메인 테이블 */
.L-report-table{
    width: 95%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* 메인테이블 제목 */
.L-report-title{
    font-size: 24px;
    font-weight: bold;
    height: 100px;
    
}

/* 메인테이블 tr */
.L-report-tr{
    border-bottom: 2px solid #ddd;
    height: 70px;
    text-align: center;
}


/* 테이블 내부 크기 */
.L-report-tr > td{
    width: 15%;
}


/* 메인테이블 버튼 */
.L-report-btn{
    text-align: center;
}

.L-report-btn > button{
    background-color: rgb(173,158,135);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    margin: 0px 5px;
    color: white;
    height: 50px;
    width: 60px;
}

/* 버튼 hover */
.L-report-btn > button:hover{
    background-color: #4F3A28;
    color: white;
}

/* 신고 내용 p태그 */
.L-report-tr textarea{
    overflow: hidden;
    text-overflow: ellipsis;
    border: 0;
    resize: none;
    width: 400px;
    height: 100px;
}

/* 버튼 */
.L-report-tr button{
    background-color: rgb(173,158,135);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    margin: 0px 5px;
    color: white;
    height: 50px;
    width: 60px;
}

.L-report-tr button:hover{
    background-color: #4F3A28;
    color: white;
}


/* 페이지네이션을 위한 메인div한개 더 생성 */
.L-report-main2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* 페이지네이션 */
.L-pagination{
    list-style: none;
    display: flex;
    justify-content: center;
}

.L-pagination > li{
    width: 20px;
    margin: 0px 5px;
    text-align: center;
}

.L-pagination a{
    width: 100%;
    height: 100%;
    display: block;
    color: black;
    text-decoration: none;
}

/* 현재 페이지 번호 */
.L-pagination .L-current{
    background-color: rgb(173,158,135);
    color: white;
    font-weight: bold;
    border-radius: 50%;
}

/* 페이지네이션 호버효과 */
.L-pagination > li:hover{
    text-decoration: underline;
}