*{
    box-sizing: border-box;
}


/*-------------------------------------------------------------------------------*/
.C-body{ /* 바디 전체를 감싸는 div */
    width: 100%;
    height: auto;
}

.C-Final-rsv{ /* 예약하기를 감싸는 div */
    width: 1200px;
    height: 800px;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
}

.C-body-first-div{ /* 예약하기 글씨 부분 */
    width: 100%;
    height: 80px;
    font-size: 30px;
    font-weight: bold;
    color:white;
    text-align: center;
    padding-top: 15px;
    background-color: rgba(131, 105, 75, 0.72);
}

.C-body-rsvInfo{ /* 예약자 정보 , 결제 정보 큰 틀*/
    width: 100%;
    height: 400px;
    display: flex;
}
.C-rsvInfo{ /* table태그의 큰 틀 */
    width: 50%;
    padding: 15px 10px;
    text-align: center;
    border-right: 1px solid #eee;
}
.C-rsvInfo-table{ /* 예약자 정보부분 테이블 */
    margin-left: 30px;
}
tr > td:nth-child(2){
    padding: 8px;
}
.C-moneyAll{ /* 결제정보 + 요금안내 큰 틀 */
    width: 50%;
    height: 100%;
}
.C-moneyInfo{ /* 결제정보 틀*/
    height: 50%;
    padding-top: 15px;
}
.C-payInfo{ /* 요금안내 틀*/
    height: 50%;
    padding-top: 15px;
}

.Iwantgohome{/* 결제 금액 글씨 부분 */
    padding: 9px;
}

.C-moneyInfo-table{ /* 예약자 정보부분 테이블 */
    margin-left: 30px;
}

.C-payInfo-table{ /* 요금 안내 부분 테이블 */
    margin-left: 30px;
}
.C-rsv-agree{ /* 이용약관 동의 큰 틀 */
    margin-left: 50px;
    height: 200px;
    padding-top: 40px;
}

.C-rsv-bottom-btn{ /* 이전으로 + 예약완료 버튼 큰 틀 */
    text-align: center;
}

#C-rsvBeforeBtn{
    margin-right: 30px;
    height: 40px;
    border: none;
    background-color: rgb(85, 77, 55);
    color: white;
    border-radius: 10px;
}

#C-rsvClearBtn{
    margin-left: 30px;
    height: 40px;
    border: none;
    background-color: rgb(85, 77, 55);
    color: white;
    border-radius: 10px;
}