*{
    box-sizing: border-box;
}

/* 메인화면 전체 */

.P-pay-main{
    width: 1200px;
    display: flex;
    margin: auto;
    height: 1000px;
    align-items: flex-start;
}




/* 메인 테이블 */
.P-pay-table{
    width: 95%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* 메인테이블 제목 */
.P-pay-title{
    font-size: 24px;
    font-weight: bold;
    height: 100px;
    
}

/* 메인테이블 tr */
.P-pay-tr1{
    border-bottom: 2px solid #ddd;
    height: 70px;
    text-align: center;
}

.P-pay-tr{
    border-bottom: 2px solid #ddd;
    height: 70px;
    text-align: center;
}

/* 테이블 내부 크기 */
.P-pay-tr > td{
    width: 15%;
}


/* 메인테이블 버튼 */
.P-pay-btn{
    text-align: center;
}


/* 버튼 */
.P-pay-btn > button{
    background-color: rgb(173,158,135);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    margin: 0px 5px;
    color: white;
    height: 50px;
    width: 55px;
}

/* 버튼 hover */
.P-pay-btn > button:hover{
    background-color: #4F3A28;
    color: white;
}

/* 페이지네이션을 위한 메인div한개 더 생성 */
.P-pay-main2{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 페이지네이션 */
.c-coupon-page{
    height: 200px;
    margin-top: 20px;
}
.c-pagination{ /* ul태그 */
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;
}

.c-pagination>li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.c-pagination a{
    width: 100%;
    height: 100%;
    display: block;
    color: black;
    /* letter-spacing: -2px; */
}

/* 현재 페이지 번호 */
.c-pagination .c-current{
    background-color: rgba(178, 158, 135, 0.9);
    color: white;
    font-weight: bold;
    border-radius: 50%;
}

.Pbtn1{

    margin: 5px 5px;
    cursor: pointer;
    background-color: rgb(173,158,135);
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border:0
}

.Pbtn1:hover{
    background-color: #4F3A28;
    color: white;

}
