
*{ box-sizing: border-box; border: 1px solid black;}

.P-top{
    display: flex;
    margin: auto;
    width: 1200px;
}

.P-maindisplay{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border: 1px solid #eee;
    width: 75%;
}

.P-main{
    width: 820px;
}

.P-reviewTitle{
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 50px;

    background-color: rgba(178, 158, 135, 0.9);
    color: white;
}

.P-dropdown{
    display: flex;
    justify-content: right;
    padding: 30px;
}

.P-dropdown > select:nth-child(1){
    margin: 0 30px;
    width: 120px;
}

.P-dropdown > select:nth-child(2){
    width: 120px;
}

.P-rs-in{
    display: block;
}