
ul, li, dl, dd {list-style:none; margin:0; padding: 0;}
a {text-decoration:none;}
.H-snb {width: 210px;; background:rgb(207, 191, 167); height:100%; box-sizing:border-box; color:#fff; box-shadow:1px 0px 20px rgba(0,0,0,0.2); padding:0 0 50px; position:relative;}
.H-div{
width: 1200px;
margin: auto;
}
.H-side-bar li {border-bottom:1px solid rgba(255,255,255,0.2);}
.H-side-bar li.active, .side-bar li:hover {background:rgba(0,0,0,0.4);}
.H-side-bar li a {color:#fff;line-height:55px; font-size:18px; display:block; padding:0 20px; box-sizing:border-box; position:relative;}
.H-side-bar li a .s_icon {padding-right:7px; font-size:15px;}
.H-side-bar li a .arrow {position:absolute; top:20px; right:20px; line-height:0px; font-size:12px;}
.H-side-bar li .user img {width:50px; height:50px; display:inline-block; margin:25px 5px 25px 20px; overflow:hidden; border-radius:50%; box-sizing:border-box; background:#4967ee;}
.H-side-bar li .user_form {line-height:100px; display:inline-block; padding-left:5px; font-weight:500; width:205px;}
.H-side-bar dd a {font-size:15px; line-height:45px; padding: 0 30px;}
.H-side-bar dd a:hover {background:rgba(255,255,255,0.1);}
.H-side-bar dd.active a{color:#ffff6f;}

.H-block {display:block;}
.H-none {display:none; right: 50px;}


*{box-sizing: border-box;}

/* div{border: 1px solid black;} */

footer{
    /* border: 1px solid black; */
    width: 100%;
}

.k-first-div{
    background-color: rgba(178, 158, 135, 0.9);
}

.k-first-div>div{
    width: 1200px;
    margin: auto;
    height: 100px;
    display: flex;
    color: white;
}
.k-second-div{
    background-color: #ebe7e3;
}
.k-second-div>div{
    width: 1200px;
    margin: auto;
    height: 60px;
    display: flex;
}
.k-third-div{
    width: 1200px;
    margin: auto;
    height: 90px;
    display: flex;
}

.k-f-container>div:nth-child(1)>img{
    margin-top: 8px;
}
.k-f-container>div:nth-child(3){
    margin-top: 40px;
}
.k-f-container>div:nth-child(2){
    width: 100px;
}

.k-f-container>div:nth-child(4){
    width: 520px;
}

.k-f-container span:nth-child(2n-1):hover{
    cursor: pointer;
    font-weight: bold;
    color: #ebe7e3;
}

#k-sns{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

#k-sns img{
    width: 40px;
}
#k-sns img:hover{
    transform: scale(1.2);
    transition-duration: 0.2s;
}

#k-sns>div:nth-child(2){
    margin-left: 15px;
}

.k-second-div span{
    font-size: small;
}

.k-second-div span:nth-child(2n-1):hover{
    color: rgba(90, 74, 56, 0.9);
    cursor: pointer;
    transition-duration: 0.2s;
}
.k-second-div span{
    padding-left: 5px;
}

.k-second-div>div{
    line-height: 5px;
    line-height: 55px;
}

.k-third-div{
    padding-top: 14px;
}

.k-third-div>div{
    font-size: small;    
}

.k-third-div img{
    width: 200px;
}
.k-third-div>:nth-child(2){
    width: 680px;
}
.k-third-div>:nth-child(3){
    margin-top: 10px;
}

*{box-sizing: border-box;}
body{margin: 0; padding: 0;}

div a{
    text-decoration: none;
}

/* 전체 */
.P-container{
    background-color: #F1E3C4;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    opacity: 0.7;
    backdrop-filter: blur(30px);
  
    
}

.P-header_middle > img{
    width: 200px;
    margin-top: 10px;
}



/* 가운데header */
.P-header{
    display: flex;
    height: 120px;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
    background-color: #F1E3C4;
    

}

/* 왼쪽 상단 빈칸 */
.P-blank{
    padding: 5px 150px;
    height: 50%;
    width: 30%;

}

/* 호텔찾기/예약 */
.P-btn1{
    height: 50%;
    display : flex;
    justify-content : center;
    align-items : center;
    justify-content: space-around;
    font-size: 15px;
    font-weight: bold;
   

}
.P-btn1>a:nth-child(1):after{
    display:block;
    content: '';
    border-bottom: solid 3px rgba(131, 105, 75, 0.72);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.P-btn1>a:nth-child(1):hover:after{ transform: scaleX(1); }
.P-btn1>a:nth-child(1):hover{color: black;}   
.P-btn1>a:nth-child(2):after{
    display:block;
    content: '';
    border-bottom: solid 3px rgba(131, 105, 75, 0.72);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.P-btn1>a:nth-child(2):hover:after{ transform: scaleX(1); }
.P-btn1>a:nth-child(2):hover  {color: black;}
.P-btn1>a{color: black;}

/* 로그인 nav */
.P-btn2{
    font-size: 13px;
    padding: 25px;
    height: 50%;
    display: block;
    justify-content: right;
    padding-left: 0;

}

.P-btn2>ul a{color: black;} 

/* 커뮤니티 / 이벤트 */
.P-btn3{
    height: 50%;
    display : flex;
    justify-content : center;
    align-items : center;
    justify-content: space-around;
    font-size: 15px;
    font-weight: bold;
    text-transform:uppercase;
    
}

.P-btn3>a{color: black;}

.P-btn3>a:nth-child(1):after {
    display:block;
    content: '';
    border-bottom: solid 3px rgba(131, 105, 75, 0.72);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.P-btn3>a:nth-child(1):hover:after{ transform: scaleX(1); }
.P-btn3>a:nth-child(1):hover {color: black;}
.P-btn3>a:nth-child(2):after{
    display:block;
    content: '';
    border-bottom: solid 3px rgba(131, 105, 75, 0.72);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.P-btn3>a:nth-child(2):hover:after{ transform: scaleX(1); }
.P-btn3>a:nth-child(2):hover{color: black;}