*{box-sizing: border-box;

      /* border: 1px solid black;  */
 
}

input{
     border: 0.5px solid grey;
     outline: none; 
}

.J-1{
    
    height: 120px;
}

.J-2{

    height: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1400px;
    
    
}

button{
    border: none;
}

button:hover{
    border: none;
    border: 1px solid black;
}

.J2-1{
    margin: auto;
    background-color:#F1E3C4;
    width: 1200px;
    height: 95%;
}



.J2-2{ 
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
}

.J2-3{
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.J2-3 > input{

    border-radius: 5px;
    width: 361px;
    height: 67%;
    margin-left: 172px;
}

.J2-4{ 
    height: 47%;
    display: flex;
    
}

.J2-5{ height: 40%;}

.J2-6 {height: 5%;}

.J2-4-1 {
    width: 40%;
}
.J2-4-2 {
    width: 60%;
}

#J2-4-1{
    height: 87.7%;
    display: flex;
}
#J2-4-2{

    height: 12.3%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#J2-4-2 > input{

    margin: 5px;
    
}

#J2-4-3 {
    height: 50%;
    display: flex;

    align-items: center;
}


#J2-4-4 {
    height: 50%;
    display: flex;

    align-items: center;
}


#J2-4-3 > button{

    margin-left: 5px;
    width: 45px;
    height: 32px;
    border-radius: 5px;
    background-color:rgb(173,158,135);
    border: none;
}

#J2-4-3 > button:hover{
    background-color:#4F3A28;
    cursor: pointer;
    border: 1px solid black;
}



#J2-4-3 > input:nth-child(1){
    
    margin-left: 26px;
    border-radius: 5px;
    width: 43%;
    height: 75%;
}

#J2-4-4 > input:nth-child(1){
    
    margin-left: 26px;
    border-radius: 5px;
    width: 50%;
    height: 75%;
}

#J2-4-1 > div:nth-child(1){width: 45%; }
#J2-4-1 > div:nth-child(2){ width: 55%;}



.J-J1 {
    height: 14.2%;
}
.J-J2 {
    height: 14.2%;
}
.J-J3 {
    height: 14.2%;
}
.J-J4 {
    height: 14.2%;
}
.J-J5 {
    height: 14.2%;
}
.J-J6 {
    height: 14.2%;
}
.J-J7 {
    height: 14.2%;
}


.J-H button {
    border-radius: 3px;
    height: 30px;
    width: 150px;
}

.J-H button:hover { 
    cursor: pointer;
}

.J-H1 {    
    height: 14.2%;
}
.J-H2 {
    height: 14.2%;
}
.J-H3 {
    height: 14.2%;
}
.J-H4 {
    height: 14.2%;
}
.J-H5 {
    height: 14.2%;
}
.J-H6 {
    height: 14.2%;
}
.J-H7 {
    height: 14.2%;
}



#J-A{
    height: 12.5%;
    font-weight: bold;
    font-size: 19px;
    display: flex;
    align-items: center;
    margin-left: 220px;
}

#J-B{
    width: 85%;
    height: 40%;
    border-radius: 5px;
    
}

#J-C{
    width: 41%;
    height: 35%;
    border-radius: 5px;

}

.J-J > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.J-H > div{
    display: flex;
    align-items: center;
}

#J-text1{

    height: 40%;
}

#J-text2{
    height: 30%;
}

.J2-5 > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#J-check1{ 
    overflow: auto;
    
}

.J-check2{

    margin: 20px;
}

.J2-5-1 > pre{ 
    margin-top: 70px;
}

.J2-5-4 > pre{ 
    margin-top: 42px;
}

.J2-5-0{ height: 5%;}

.J2-5-1{ height: 5%;}

.J2-5-2{ height: 40%;}


.J2-5-3{ height: 10%;}

.J2-5-4{ height: 5%;}

.J2-5-5{  height: 30%;}

.J2-5-6{ height: 10%;}

textarea{ color: gray;}

 @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} 

*{
    font-family: 'Pretendard-Regular';
}

.J-H1-1{
    background-color:rgb(173,158,135);
}

.J-H1-1:hover{
    background-color:#4F3A28;
}

.J-H7-1{
    height: 25px;
    width: 100px;
    border-radius: 5px;
}

.J2-6{
    display: flex;
    justify-content: center;
    align-items: center;
}

.J2-6 > button{
    background-color:rgb(173,158,135);
    margin: 10px;
    width: 90px;
    height: 30px;
    border-radius: 5px;
}

.J2-6 > button:hover{
    background-color:#4F3A28;
    cursor: pointer;
}

.J-H7-1 > option:nth-child(1){
    color: gray;
}





footer{
    /* border: 1px solid black; */
    width: 100%;
}

.k-first-div{
    background-color: rgba(178, 158, 135, 0.9);
}

.k-first-div>div{
    width: 1200px;
    margin: auto;
    height: 100px;
    display: flex;
    color: white;
}
.k-second-div{
    background-color: #ebe7e3;
}
.k-second-div>div{
    width: 1200px;
    margin: auto;
    height: 60px;
    display: flex;
}
.k-third-div{
    width: 1200px;
    margin: auto;
    height: 90px;
    display: flex;
}

.k-f-container>div:nth-child(1)>img{
    margin-top: 8px;
}

.k-f-container>div:nth-child(2){
    width: 220px;
    margin-top: 40px;
    margin-left: 50px;
}

.k-f-container>div:nth-child(3){
    width: 520px;
}


.k-f-container span:nth-child(2n-1):hover{
    cursor: pointer;
    font-weight: bold;
    color: #ebe7e3;
}

#k-sns{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    width: 200px;
    margin-left: auto;
}

#k-sns img{
    width: 40px;
}
#k-sns img:hover{
    transform: scale(1.2);
    transition-duration: 0.2s;
}

#k-sns>div:nth-child(2){
    margin-left: 15px;
}

.k-second-div span{
    font-size: small;
}

.k-second-div span:nth-child(2n-1):hover{
    color: rgba(90, 74, 56, 0.9);
    cursor: pointer;
    transition-duration: 0.2s;
}
.k-second-div span{
    padding-left: 5px;
}

.k-second-div>div{
    line-height: 5px;
    line-height: 55px;
}

.k-third-div{
    padding-top: 14px;
}

.k-third-div>div{
    font-size: small;    
}

.k-third-div img{
    width: 200px;
}
.k-third-div>:nth-child(2){ /* 빈칸인데 우선 삭제했으.. */
    width: 205px;
    margin-top: 10px;
    margin-left: auto;
}




body{margin: 0; padding: 0;}

div a{
    text-decoration: none;
}

/* 전체 */
.P-container{
    background-color: #AFBDCA;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    opacity: 0.7;
    backdrop-filter: blur(30px);
  
    
}

.P-header_middle > img{
    width: 200px;
    margin-top: 10px;
}



/* 가운데header */
.P-header{
    display: flex;
    height: 120px;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
    background-color: #F1E3C4;
    

}

/* 왼쪽 상단 빈칸 */
.P-blank{
    padding: 5px 150px;
    height: 50%;
    width: 30%;

}

/* 호텔찾기/예약 */
.P-btn1{
    height: 50%;
    display : flex;
    justify-content : center;
    align-items : center;
    justify-content: space-around;
    font-size: 15px;
    font-weight: bold;
   

}
.P-btn1>a:nth-child(1):after{
    display:block;
    content: '';
    border-bottom: solid 3px rgba(131, 105, 75, 0.72);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.P-btn1>a:nth-child(1):hover:after{ transform: scaleX(1); }
.P-btn1>a:nth-child(1):hover{color: black;}   
.P-btn1>a:nth-child(2):after{
    display:block;
    content: '';
    border-bottom: solid 3px rgba(131, 105, 75, 0.72);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.P-btn1>a:nth-child(2):hover:after{ transform: scaleX(1); }
.P-btn1>a:nth-child(2):hover  {color: black;}
.P-btn1>a{color: black;}

/* 로그인 nav */
.P-btn2{
    font-size: 13px;
    padding: 25px;
    height: 50%;
    display: block;
    justify-content: right;
    padding-left: 0;

}

.P-btn2>ul a{color: black;} 

/* 커뮤니티 / 이벤트 */
.P-btn3{
    height: 50%;
    display : flex;
    justify-content : center;
    align-items : center;
    justify-content: space-around;
    font-size: 15px;
    font-weight: bold;
    text-transform:uppercase;
    
}

.P-btn3>a{color: black;}

.P-btn3>a:nth-child(1):after {
    display:block;
    content: '';
    border-bottom: solid 3px rgba(131, 105, 75, 0.72);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.P-btn3>a:nth-child(1):hover:after{ transform: scaleX(1); }
.P-btn3>a:nth-child(1):hover {color: black;}
.P-btn3>a:nth-child(2):after{
    display:block;
    content: '';
    border-bottom: solid 3px rgba(131, 105, 75, 0.72);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.P-btn3>a:nth-child(2):hover:after{ transform: scaleX(1); }
.P-btn3>a:nth-child(2):hover{color: black;}